
.content {
  display: flex;
  justify-content: center;
  margin-top: 50px !important;
  margin-bottom: 25px;
  align-items: center;
  flex-direction: column;
}

#more{
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px 20px;
}